.header {
  padding: 0;
  
  .navbar-brand {
    height: 51px;
    margin-bottom: -1px;
    font-weight: 500;
    padding: 10px;

    &,
    &:hover,
    &:active,
    &:focus {
      background-color: theme-color("danger");
      color: white;
    }

    span {
      font-weight: 200;
    }
  }

  .navbar-nav > .active > a {
    &,
    &:hover,
    &:focus {
      background-color: transparent;
      color: theme-color("danger");
      border-bottom: 3px solid theme-color("danger");
      margin-bottom: -1px;
      padding-bottom: 13px;
    }
  }
}
